# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
dist
bower_components
node_modules
npm-debug.log
vendor
*~
*swp
.DS*Store
Thumbs.db
.project
nbproject
.buildpath
.settings
# Sublime Text project files
*.sublime-project
*.sublime-workspace

