@import url('bootstrap.css');
@import url('normalize.css');

/* Fontes */
@font-face {
	font-family: 'Droid Sans';
	src: url('../fonts/droidsans/droidsans-webfont.eot');
	src: url('../fonts/droidsans/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/droidsans/droidsans-webfont.woff') format('woff'),
	     url('../fonts/droidsans/droidsans-webfont.woff2') format('woff2'),
	     url('../fonts/droidsans/droidsans-webfont.ttf') format('truetype'),
	     url('../fonts/droidsans/droidsans-webfont.svg#droidsans') format('svg');
	font-weight: normal;
	font-style: normal;
}


html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	height: 100%;
	box-sizing: border-box;
}
*,
*:after,
*:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	font-family: 'Droid Sans', sans-serif;
	min-height: 100%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

a,
a:hover {
	text-decoration: none;
}

/* Header */
header {
	height: 228px;
	background: url(../images/back_header.jpg) no-repeat;
	background-size: cover;
}

/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
.sb-search {
	position: relative;
	margin-top: 0;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	z-index: 2;
}
.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}
.sb-search-input::-webkit-input-placeholder {
	color: #efb480;
}

.sb-search-input:-moz-placeholder {
	color: #efb480;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #efb480;
}
.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-icon-search {
	color: #327c3b;
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background: #d7d7d7;
	speak: none;
	-webkit-font-smoothing: antialiased;
	z-index: 90;
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
[data-icon]:before,
.sb-icon-search:before {
  font-family: 'FontAwesome'; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}
/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #d6dbb5;
	color: #003e2d;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

/* Logo */
.logo {
	margin: 66px 0;
}


/* Navegação */
.menu-topo {
	height: 80px;
	text-transform: uppercase;
	background: url(../images/back_footer.jpg);
}
.caret {
	display: none;
}

/* Customize the nav-justified links
to be fill the entire space of the .navbar */
.nav-justified {
	align-items: center;
}
.navbar-nav > li > a,
.dropdown-menu > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: bold;
	color: #a7b739;
	max-width: 170px;
	text-align: center;
	white-space: normal;
	display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.navbar-nav > li > a:hover {
	color: #003e2d;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
	color: #003e2d;
	background-image: none;
	background-color: #a7b739;
}
.navbar-nav > li:last-child > a {
	border-bottom: 0;
}
.nav .open > a:focus,
.navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	background-color: #a7b739;
}
.navbar-nav,
.navbar-nav > li,
.navbar-nav > li > a {
	min-height: 80px;
}
.navbar-nav > li > a {
	border-right: 1px solid #d6dbb5;
}

.navbar-nav > li:first-child > a {
	border-left: 0;
}
.navbar-nav > li:last-child > a {
	border-right: 0;
}

/*Navegação por posts padrão*/
.posts-navigation .screen-reader-text {
	display: none;
}
.posts-navigation {
	padding-bottom: 50px;
}
.nav-links {
	margin: 0 auto;
	width: 55%;
}
.nav-links .nav-previous a {
	margin-right: 50px;
}
.nav-links a {
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #003e2d;
}
.nav-links a:hover {
	color: #a7b739;
}
/*Navegação por posts customizada*/
.paginacao {
	margin: 30px auto;
	font-size: 20px;
	font-weight: bold;
	width: 100%;
}
.paginacao .page-numbers {
	padding: 5px 10px;
	color: #e97200;
	background-color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.paginacao .current {
	background-color: #003e2d;
}

/* Seções */
aside {
	margin-top: 20px;
}
aside .page-header,
aside .titulo {
	margin-top: 0;
}
.wrap {
 	margin: 80px auto 280px;
	background: url('../images/back_content.jpg');
}

.destaques-slides {
	margin: 0;
	z-index: 2;
}

.cycles-slide.cycle-slide {
    margin-top: 0 !important;
}

.cycle-slideshow {
	height: 650px;
	width: 100%;
	overflow: hidden;
}
.cycle-slideshow .cycle-pager {
	position: absolute;
	top: 480px;
	right: 10px;
	font-size: 80px;
	color: #fff;
	z-index: 200;
	cursor: pointer;
	text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
}

.cycle-slideshow .cycle-pager .cycle-pager-active {
	color: #a7b739;
}
.cycle-slideshow li img:before {
  content: "";
  display: block;
}
.cycle-slideshow li img {
	display: block;
	height: 550px;
	width: 100%;
	min-width: 1140px;
}
.cycle-slideshow .bd {
	position: absolute;
	top: 550px;
	padding: 10px 10px 10px 20px;
	height: 120px;
	width: 100%;
	background-color: #a7b739;
}
.cycle-slideshow .entry-meta {
	margin: 0;
	padding: 5px;
	text-align: center;
	background-color: #003e2d;
	width: 10%;
	position: absolute;
	top: 0;
}
.cycle-slideshow .entry-meta a {
	font-weight: bold;
	color: #a7b739;
	text-decoration: none;
}
.cycle-slideshow .entry-title {
	margin-top: 24px;
	font-size: 22px;
	width: 80%;
}
.cycle-slideshow .entry-title a {
	font-weight: bold;
	color: #003e2d;
}
.cycle-slideshow .btn-saibamais {
	width: 17%;
	position: absolute;
	right: 1em;
	bottom: 2em;
}
.cycle-slideshow .btn-saibamais a {
	font-weight: bold;
	color: #a7b739;
}
.cycle-slideshow .entry-summary {
	visibility: hidden;
}

#noticias .cat-title {
	background-color: #003e2d;
	width: 33.3%;
}
#noticias .cat-title h5 {
	margin: 0;
	padding: 5px;
	text-align: center;
}
#noticias .cat-title h5 a {
	font-weight: bold;
	color: #a7b739;
	text-decoration: none;
}
#noticias .entry-image {
	max-width: 100%;
	height: 258px;
	overflow: hidden;
}
#noticias .entry-image img:before {
  content: "";
  display: block;
}
#noticias .entry-image img {
	display: block;
	height: auto;
	min-height: 258px;
	width: 100%;
}
#noticias .post-title {
	padding: 10px 10px 15px 10px;
	min-height: 130px;
	text-align: justify;
	border-bottom: 5px solid #a7b739;
}
#noticias .post-title a {
	color: #003e2d;
	text-decoration: none;
}
#noticias .post-title a h4 {
	font-weight: bold;
}
.btn-noticias {
	margin: 15px 15px 30px 0;
	float: right;
	background-color: #003e2d;
}
.btn-noticias a,
.btn-noticias a:hover {
	padding: 10px;
	color: #a7b739;
	text-align: center;
}

#prog-midias {
	padding-bottom: 40px;
	background: rgba(153, 153, 153, 0.2);
}
.programas-locais h3,
.video-da-semana h3,
.revista h3 {
	font-weight: bold;
	color: #e97200;
	text-transform: uppercase;
}
.programa {
	margin-bottom: 20px;
}
.programa .prog-title {
	margin: 5px 0;
	padding: 5px 0;
	font-size: 18px;
	font-weight: bold;
	color: #003e2d;
	text-transform: none;
	line-height: 1.3333333;
	list-style: none;
	background-color: #003e2d;
}
.programa .prog-title:hover {
	color: #a7b739;
}
.programa .prog-desc {
	color: #003e2d;
	font-size: 12px;
	font-weight: normal;
	text-align: justify;
}
.programa a {
	color: #a7b739;
	padding: 10px 10px;
}
.programa a:hover {
	color: #e97200;
}
.btn-saibamais,
.btn-enviar {
	margin: 0 0 10px 66.6%;
	background-color: #003e2d;
	width: 33.3%;
	text-align: center;
}
.video-da-semana h3 {
	margin: 20px 0;
	text-align: center;
}
.video-da-semana .video-chamada {
	margin: 35px 0;
	font-weight: bold;
	color: #003e2d;
	text-align: center;
}
.video-da-semana .video {
	padding: 15px 0;
	text-align: center;
}
.revista h3 {
	/*padding-bottom: 74px;*/
	text-align: center;
}
.revista .issuem_active_list_widget {
	padding: 15px 0;
}
.revista a img {
	height: 430px;
	width: 300px;
}
.revista .btn-assine {
	margin: 15px auto;
	text-align: center;
	width: 300px;
	background-color: #003e2d;
}
.revista .btn-assine a {
	font-weight: bold;
  color: #a7b739;
}

#camp-blog {
	margin: 40px 0;
}
.boletim-campanha {
	background: url(../images/back-bol-camp.jpg) repeat;
}
.boletim-campanha h3 {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 3px solid #fff;
}
.boletim-campanha h4 {
	padding: 20px 10px;
	font-weight: bold;
	border-bottom: 2px solid #286919;
}
.boletim-campanha h4:last-child {
	border-bottom: none;
}
.boletim-campanha h4 a {
	color: #003e2d;
}
.boletim-campanha h4 a:hover {
	color: #fff;
	text-decoration: none;
}
.boletim-campanha .sem-borda,
.blog-pratos-limpos .sem-borda {
	border: none;
}
.branco {
	color: #fff !important;
}
.boletim-campanha .assine {
	padding: 40px 0 0 0;
	text-align: center;
	text-decoration: none;
	border: none;
}
.boletim-campanha form {
	align-items: baseline;
}
.boletim-campanha input {
	float: left;
	height: 46px;
	width: 65%;
}
.boletim-campanha .btn-enviar,
.boletim-campanha .btn-enviar:hover {
	margin-top: -45px;
	color: #a7b739;
}

.blog-pratos-limpos h3,
.campanhas h3 {
	margin: 20px 0 0 20px;
	padding-bottom: 20px;
	font-weight: bold;
	color: #e97200;
	border-bottom: 3px solid #e97200;
}
.blog-pratos-limpos h4,
.blog-pratos-limpos h5,
.blog-pratos-limpos li {
	margin-left: 20px;
	padding: 15px 0;
	font-weight: bold;
	border-bottom: 2px solid #e97200;
}
.blog-pratos-limpos h4 a,
.blog-pratos-limpos h5 a,
.blog-pratos-limpos li {
	color: #003e2d;
	list-style: none;
}
.blog-pratos-limpos h4 a:hover,
.blog-pratos-limpos h5 a:hover {
	color: #e97200;
	text-decoration: none;
}

.campanhas img {
	margin: 10px 0;
	padding: 10px 0 0 20px;
	width: 100%;
}


#redes-e-parcerias {
	margin-bottom: 40px;
	background-color: #fff;
	min-width: 100%;
}
.parcerias-title h3,
.parcerias h3 {
	padding: 30px;
	font-weight: bold;
	color: #e97200;
	border-right: 3px solid #e97200;
}
.parcerias h3 {
	border: none;
}
.parcerias a img {
	margin: 30px auto;
}

.logo_partners {
	display: table;
	background-color: #fff;
	border-top: 2px solid #a7b739;
	border-bottom: 2px solid #a7b739;
	width: 100%;
}
.parceria-banner {
	float: left;
}

/* Biblioteca */
#biblioteca .titulo,
#noticias .titulo {
	color: #003e2d;
	font-weight: bold;
}
#biblioteca .library-box h4 {
	margin: 0;
	padding: 25px 10px;
	color: #003e2d;
	font-weight: bold;
	background-color: #ccd77f;
	border-bottom: 5px solid #a7b739;
}
#biblioteca .opcoes {
	margin-bottom: 0;
	padding: 30px;
	background-color: #ebebeb;
}
#biblioteca .library-sidebar .opcoes {
	padding: 30px 0;
}
#biblioteca .duas-colunas {
	-moz-column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-count: 2;
	-webkit-column-gap: 40px;
	column-count: 2;
	column-gap: 40px;
}
#biblioteca .input-group-addon {
	text-align: left;
	background-color: none;
	border: none;
}
#biblioteca .input-group-addon input {
	margin-right: 10px;
	float: left;
}
#biblioteca .form-control {
	width: 60%;
}
#biblioteca .library-sidebar .revista-agriculturas .form-control {
	width: 95%;
}
#biblioteca .library-box .opcoes a,
#biblioteca .library-box .opcoes label {
	font-weight: bold;
	color: #a7b739;
	text-decoration: none;
}
#biblioteca .revista-agriculturas .opcoes label {
	width: 120px;
}
#biblioteca .revista-agriculturas .input-group-addon {
	height: 40px;
}
#biblioteca .btn {
	color: #a7b739;
}

#lista .titulo-pagina h1,
#lista .titulo-pagina .post-categories a {
	margin: 0 0 20px 0;
	padding-bottom: 20px;
	font-weight: bold;
	color: #e97200;
	border-bottom: 3px solid #e97200;
}
#lista .titulo-pagina ul {
	padding-left: 0;
}
#lista .titulo-pagina .post-categories a {
	border-bottom: none;
}
#lista .titulo-pagina .post-categories li {
	list-style: none;
}
#lista .lista-post {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e97200;
}
#lista .lista-conteudo {
	color: #003e2d;
	font-weight: bold;
}
#lista .lista-categoria ul {
	padding: 0;
}
#lista .lista-categoria ul li {
	list-style: none;
	padding: 0;
}
#lista .lista-categoria a,
#lista .lista-meta-time {
	color: #003e2d;
	font-size: 14px;
	min-height: 16px;
}
#lista .lista-titulo {
	min-height: 70px;
}
#lista .lista-titulo h4 a {
	color: #003e2d;
	font-size: 18px;
	font-weight: bold;
}
#lista .lista-titulo h4 a:hover,
#lista .lista-resumo p a:hover  {
	color: #a7b739;
}
#lista .lista-resumo {
	color: #327c3b;
	font-size: 14px;
	font-weight: normal;
	min-height: 55px;
}
#lista .lista-resumo p a {
	color: #003e2d;
	font-weight: bold;
}

/*Páginas*/
#pagina {
	margin: 20px 0;
}
#pagina .pagina-conteudo {
	padding-bottom: 30px;
	border-bottom: 2px solid #003e2d;
}
#pagina .pagina-img {
	margin-bottom: 30px;
	height: 400px;
	overflow: hidden;
}
#pagina .pagina-img img {
	/*margin-top:  -100px;*/
	width: 100%;
}
#pagina .pagina-data {
	min-height: 30px;
	border-bottom: 2px solid #003e2d;
	width: 100%;
}
#pagina .updated {
	color: #327c3b;
	font-size: 14px;
	font-weight: bold;
}
#pagina .pagina-categoria ul {
	padding: 0;
}

#pagina .pagina-categoria li {
	margin-top: 15px;
	list-style: none;
}
#pagina .pagina-categoria li a,
#pagina .pagina-categoria li a:hover,
#pagina .pagina-meta span,
#pagina .pagina-compartilhamento span,
#pagina p a {
	color: #003e2d;
	font-weight: bold;
	text-decoration: none;
}
#pagina p a:hover {
	color: #e9770a;
}
#pagina .entry-content {
	margin-top: 15px;
	padding-bottom: 20px;
}
#pagina .entry-content p {
	margin-bottom: 20px;
	text-align: justify;
}
#pagina .entry-content p img {
	/*display: none;*/
}
#pagina .pagina-programa,
#pagina .pagina-tema,
#pagina .pagina-tags {
	margin-bottom: 10px;
}
#pagina .pagina-tags a {
	margin-left: 10px;
	color: #327c3b;
	font-weight: normal;
	text-decoration: underline;
}
#pagina .noticias-relacionadas h3 {
	margin: 20px 0 0 20px;
	padding-bottom: 20px;
	font-weight: bold;
	color: #e97200;
}
#pagina .noticias-relacionadas a {
	margin: 20px 0 0 20px;
	padding-bottom: 20px;
	display: block;
	font-weight: bold;
	color: #003e2d;
	text-decoration: underline;
	border-bottom: 1px solid #e97200;
}
#pagina .noticias-relacionadas a:last-child {
	border-bottom: none;
}
#pagina .noticias-relacionadas a:hover {
	color: #e97200;
	text-decoration: none;
}
#pagina .pagina-compartilhamento {
	padding: 30px 0 60px;
	border-bottom: 2px solid #003e2d;
}
.btn-share {
	margin: 0;
	float: left;
	width: 250px;
}
.facebook-share,
.google-share,
.twitter-share {
	display: table-cell;
	width: 250px;
	height: 35px;
}
.facebook-share {
	background: url('../images/facebook-share.png') no-repeat;
}
.google-share {
	background: url('../images/google-share.png') no-repeat;
}
.twitter-share {
	background: url('../images/twitter-share.png') no-repeat;
}

#pagina .pagina-comentarios {
	margin: 30px 0;
}
#pagina .pagina-comentarios h3 {
	font-size: 14px;
	font-weight: bold;
}

/*Páginas Temas de Intervenção e Campanha Transgênicos*/
.temas-de-intervencao .titulo-pagina h1,
.campanha-transgenicos .titulo-pagina h1 {
	margin: 0 0 40px;
	color: #012b09;
	font-weight: bold;
}
.tema-card .tema-box-laranja {
	margin-bottom: 30px;
	min-height: 230px;
	background-color: #e97200;
}
.tema-card .tema-box-verde {
	margin-bottom: 30px;
	min-height: 230px;
	background-color: #9d9f00;
}
.temas-de-intervencao .tema-card .tema-icone img {
	position: absolute;
	right: 15px;
	height: 150px;
	width: 150px;
}
.campanha-transgenicos .tema-card .tema-icone img {
	position: absolute;
	left: 30px;
	height: 150px;
	width: 150px;
}
.temas-de-intervencao .tema-card .tema-titulo {
	position: absolute;
	left: 30px;
	bottom: 40px;
	color: #012b09;
	font-size: 20px;
	font-weight: bold;
	line-height: normal;
	max-width: 70%;
}
.campanha-transgenicos .tema-card .tema-titulo {
	padding: 165px 0 0 30px;
	color: #012b09;
	font-size: 22px;
	font-weight: bold;
	line-height: normal;
	max-width: 30%;
}
.campanha-transgenicos .tema-card .tema-descricao {
	padding: 20px;
	float: right;
	color: #012b09;
	font-size: 16px;
	text-align: justify;
	width: 70%;
}
.itens-de-campanha-boletim .lista-meta-time {
	display: none;
}

/*Página Revista Agriculturas*/
#issuem-featured-article-thumbs-wrap {
  margin-bottom: 60px;
}
.issuem-featured-article-thumb .featured-thumb-content {
	display: none;
}
.issuem-featured-article-thumb:first-child {
    padding-left: 0px;
}
.issuem-featured-article-thumb:last-child {
    padding-right: 0px;
}
.issuem-featured-article-thumb {
    width: 33.3%;
}
.issuem-featured-thumbs-img img {
  width: 100%;
	opacity: 0.8;
	-moz-opacity: 0.8;
	Filter: Alpha(Opacity=80);
}
.issuem-featured-thumbs-img img:hover {
	opacity: 1;
	-moz-opacity: 1;
	Filter: Alpha(Opacity=100);
}
.issuem-featured-article-thumb .issuem-featured-thumb-title a {
  font-size: 14px;
	font-weight: bold;
	color: #003e2d;
}
.issuem_articles_shortcode .issuem_article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e97200;
}
.issuem_articles_shortcode p {
    text-align: justify;
}
.issuem_articles_shortcode .issuem_article_link {
  margin-bottom: 10px;
  display: block;
  color: #003e2d;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  min-height: 70px;
}
.issuem_articles_shortcode .issuem_article_content {
  font-size: 14px;
  font-weight: normal;
  min-height: 55px;
}
.issuem_articles_shortcode .issuem_article_content a {
  color: #003e2d;
  font-weight: bold;
}
.issuem_articles_shortcode .issuem_article_byline {
  display: none;
}

/*Página Revistas Anteriores*/
.issuem_archive {
	margin: 0px 10px;
}
.issuem_archive a {
	font-weight: bold;
	color: #003e2d;
}
.issuem_archive a img {
	margin-bottom: 5px;
}
.issuem_archive a img {
	opacity: 0.5;
	-moz-opacity: 0.5;
	Filter: Alpha(Opacity=50);
}
.issuem_archive a img:hover {
	opacity: 1;
	-moz-opacity: 1;
	Filter: Alpha(Opacity=100);
}


/*Sidebar*/
.sidebar-module,
#page-sidebar {
	margin-bottom: 40px;
}
#page-sidebar .blog-pratos-limpos h3,
#page-sidebar .parcerias h3 {
		margin-top: 0;
	}

#page-sidebar .parcerias {
	padding: 0;
}
#page-sidebar .parcerias h3 {
	padding: 0 0 30px 20px;
}
#page-sidebar .parcerias .logo_partners {
	margin-left: 20px;
	width: 94%;
}

#page-sidebar .revista {
	padding: 0 15px;
}
#page-sidebar .revista h3 {
	padding-bottom: 20px;
	margin-left: 20px;
	border-bottom: 3px solid #e97200;
}


/*Menu Página Interna e Widget Recent Posts*/
.menu-inner-page {
	padding: 0 15px;
	margin-bottom: 40px;
}
#page-sidebar .issuem_active_issue,
.widget_recent_entries {
	padding: 0;
}
#page-sidebar .blog-pratos-limpos h3,
#page-sidebar .issuem_active_issue h3,
.menu-inner-page h3,
.widget_recent_entries h3 {
	margin: 0 0 0 20px;
	padding-bottom: 25px;
	font-weight: bold;
	color: #e97200;
	border-bottom: 3px solid #e97200;
	text-transform: uppercase;
}
#page-sidebar .issuem_widget_issue_cover_image {
	margin: 40px 0;
}

.menu-inner-page div {
	margin-left: 20px;
}
.menu-inner-page ul {
	padding: 0;
}
.widget_recent_entries ul {
	padding-left: 20px;
}
.menu-inner-page .menu-item {
	margin: 5px 0;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
	list-style: none;
	background-color: #b6c259;
}
.menu-inner-page .menu-item:hover {
	background-color: #eb8b2c;
}
.menu-inner-page .menu-item a {
	color: #fff;
	font-weight: bold;
}

.widget_recent_entries li {
	padding: 15px 0;
	font-weight: bold;
	list-style: none;
	border-bottom: 2px solid #e97200;
}
.widget_recent_entries li:last-child {
	border-bottom: none;
}

.widget_recent_entries li a {
	color: #003e2d;
}
.widget_recent_entries li a:hover {
	color: #e97200;
	text-decoration: none;
}

/* Footer */
.footer {
	position: absolute;
	bottom: 0;
	color: #a7b739;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 370px;
	background: url(../images/back_footer.jpg);
	z-index: 3;
}
.footer a,
.footer a:hover {
	color: #a7b739;
}
.footer-logo {
	margin: 40px auto 20px;
	width: 80%;
}
.footer-descricao {
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.footer-menu {
	margin-top: 40px;
}
.footer-menu ul {
	padding: 0;
}
.footer-menu .menu-item {
    display: inline-table;
    font-weight: bold;
    list-style: none;
    width: 103px;
}
.footer-menu .menu-item a:hover {
	color: #e97200;
}
.footer-menu .menu-item .sub-menu li {
	margin-top: 10px;
	display: block;
	font-weight: normal;
	width: 100%;
}
.footer-redes-sociais {
	margin-top: 100px;
	height: 80px;
	background-color: #003e2d;
}
.footer-icones {
	margin: 0 auto;
	width: 280px;
}
.footer-icones ul {
	margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}
.footer-icones .icone:last-child {
    margin-right:0;
}
.footer-icones a .icone {
	margin-top: 20px;
	float: left;
	height: 35px;
}
.footer-icones a .icon-facebook {
	background: url('../images/icon-facebook.png') no-repeat;
	width: 50px;
}
.footer-icones a .icon-facebook:hover {
	background: url('../images/icon-facebook-hover.png') no-repeat;
}
.footer-icones a .icon-twitter {
	background: url('../images/icon-twitter.png') no-repeat;
	width: 60px;
}
.footer-icones a .icon-twitter:hover {
	background: url('../images/icon-twitter-hover.png') no-repeat;
}
.footer-icones a .icon-gplus {
	background: url('../images/icon-gplus.png') no-repeat;
	width: 45px;
}
.footer-icones a .icon-gplus:hover {
	background: url('../images/icon-gplus-hover.png') no-repeat;
}
.footer-icones a .icon-youtube {
	background: url('../images/icon-youtube.png') no-repeat;
	width: 60px;
}
.footer-icones a .icon-youtube:hover {
	background: url('../images/icon-youtube-hover.png') no-repeat;
}
.footer-icones a .icon-vimeo {
	background: url('../images/icon-vimeo.png') no-repeat;
	width: 65px;
}
.footer-icones a .icon-vimeo:hover {
	background: url('../images/icon-vimeo-hover.png') no-repeat;
}
img.alignright {
	float:right;
	margin-left: 1em;
	margin-bottom: 1em;
}
img.alignleft {
	margin-right: 1em;
	margin-bottom: 1em;
	float:left;
}
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_search_post.img-responsive {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.addtoany_share_save_container {
    border-top: 2px solid #003e2d;
    padding-top: 16px;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

@media only screen and (max-width: 1000px) {
	header {
		height: 415px;
	}
	.menu-topo {
	    height: 55px;
	}
	/* Customize toggle navbar to 1000px screen */
	.navbar {
	    height: 50px;
	    z-index: 9999;
	}
	.navbar-justified .navbar-nav {
		position: relative;
	    margin: 7.5px -15px;
	    width: 170px;
	}
	.navbar-justified .collapse {
		display: none !important;
	}
	.navbar-justified .navbar-toggle {
	  display: block !important;
	}
	.navbar-justified .navbar-header{
	    float: none;
	}
	/* since 3.1.0 */
	.navbar-justified .navbar-collapse.collapse.in {
	    display: block!important;
	}
	.navbar-justified .collapsing {
	    overflow: hidden!important;
	}
	.navbar-nav > li > a,
	.dropdown-menu > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;
		background-color: #eee;
		min-width: 170px;
	}
	.navbar-justified {
		float: right;
		z-index: 9999;
	}
	.navbar-justified .navbar-toggle {
	    border-color: #e97200;
	}
	.navbar-justified .navbar-toggle .icon-bar {
	    background-color: #e97200;
	}

	.cycle-slideshow {
		height: 438px;
	}
	.cycle-slideshow .bd {
		top: 350px;
	}

	.post-title {
		min-height: 110px;
	}
	.btn-saibamais {
		width: 39%;
	}
}

@media only screen and (max-width : 981px) {
	header {
		height: 399px;
	}
	.menu-topo {
	    height: 55px;
	    background-image: none;
	}
	.wrap {
		margin: 0 0 205px;
	}
	.cycle-slideshow {
		height: 350px;
	}
	.cycle-slideshow li img {
	    height: 200px;
	    min-width: 750px;
	}
	.cycle-slideshow .bd {
		top: 330px;
		width: 720px
	}
	.cycle-slideshow .entry-meta {
		width: 20%;
	}
	.cycle-slideshow .entry-title {
		margin-top: 5px;
		font-size: 14px;
	    width: 100%;
	}
	.cycle-slideshow .btn-saibamais {
		display: none;
	}
	.noticia {
		margin-bottom: 20px;
		width: 33.3%;
	}
	#noticias .cat-title {
		width: 50%;
	}
	#noticias .entry-image {
		height: 175px;
	}
	#noticias .entry-image img {
		min-height: 175px;
	}
	#noticias .post-title a h4 {
		font-size: 14px;
		font-weight: normal;
	}
	.post-title {
		min-height: 80px;
	}
	.programa .prog-desc {
		min-height: 100%;
	}
	.btn-saibamais {
		width: 36%;
	}
	.video-da-semana .video,
	.revista .issuem_active_list_widget {
	    border-top: none;
	}
	.revista {
	    padding: 0;
	}
	.revista a img {
	    height: 315px;
	    width: 260px;
	}
	.blog-pratos-limpos h3,
	.blog-pratos-limpos h4 {
		margin-left: 0;
	}
	.parcerias-title h3 {
	    border: none;
	    text-align: center;
	}
	.parceria-banner {
		min-width: 230px;
		padding: 0 5px;
	}
	.btn-share {
		width: 180px;
	}
	#page-sidebar .blog-pratos-limpos h3,
	.menu-inner-page h3,
	.widget_recent_entries h3 {
		margin-left: 0;
	}
	#page-sidebar .parcerias h3 {
		padding-left: 0;
	}
	#page-sidebar .parcerias .logo_partners {
		margin-left: 0;
		width: 100%;
	}
	.facebook-share,
	.google-share,
	.twitter-share,
	.whatsapp-share {
		display: table-cell;
		width: 180px;
		height: 35px;
	}
	.facebook-share {
		background: url('../images/facebook-share-peq.png') no-repeat;
	}
	.google-share {
		background: url('../images/google-share-peq.png') no-repeat;
	}
	.twitter-share {
		background: url('../images/twitter-share-peq.png') no-repeat;
	}
	.whatsapp-share {
		background: url('../images/whatsapp-share-peq.png') no-repeat;
	}
	.footer {
		height: 308px;
	}
	.footer-redes-sociais {
		margin-top: 80px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header {
		height: 220px;
	}
	.pesquisa-topo {
		height: 50px;
		width: 50px;
	}
	.pesquisa-topo span {
	    margin-top: 10px;
	}
	.logo {
	    margin: 50px 0;
	}

	.menu-topo {
	    height: 60px;
	}

	.wrap {
		margin-bottom: 300px;
	}
	.cycle-slideshow {
		height: 336px;
	}
	/*.cycle-slideshow .bd {
		top: 250px;
	}*/

	#noticias {
		padding-top: 40px;
	}
	.btn-noticias {
	    margin: 0 auto 40px;
	    float: none;
	    width: 190px;
	}

	#prog-midias,
	#camp-blog {
		padding-bottom: 40px;
	}
	.blog-pratos-limpos h3,
	.campanhas h3,
	.boletim-campanha h3 {
		margin-top: 20px;
	}
	.revista h3 {
		text-align: center;
	}

	#redes-e-parcerias {
		margin-bottom: -60px;
	}
	.parcerias-title h3 {
		border: none;
	}

	.issuem-featured-thumbs-img img {
		opacity: 1;
		-moz-opacity: 1;
		Filter: Alpha(Opacity=100);
	}

	.footer {
		height: 300px;
	}
	.footer-redes-sociais {
		height: 70px;
	}
	.footer-redes-sociais {
		margin-top: 72px;
	}
}

@media only screen and (max-width : 640px) {
    header {
		height: 250px;
	}
	.wrap {
    	margin-bottom: 205px;
	}

	.cycle-slideshow li img {
	    height: 200px;
	    min-width: 610px;
	}
	.cycle-slideshow .bd {
		width: 580px
	}
	.noticia {
		width: 100%;
	}
	#noticias .cat-title {
		width: 33.3%;
	}
	#noticias .post-title {
		float: right;
		min-height: 175px;
		width: 315px;
	}
	#noticias .entry-image {
		height: 175px;
		width: 260px;
		float: left
	}
	#noticias .post-title a h4 {
		font-size: 18px;
		font-weight: bold;
	}

	.programas-locais {
		padding: 0 15px;
	}
	.video-da-semana {
		padding: 0;
	}
	.revista .btn-assine {
		width: 265px;
	}
	.blog-pratos-limpos h3,
	.campanhas h3 {
		margin-left: 0;
	}
	.campanhas img {
		padding-left: 0;
	}
	#redes-e-parcerias {
		margin-bottom: 5px;
	}
	#pagina .pagina-img {
		height: 300px;
		width: 100%;
	}
	.parceria-banner {
		min-width: 275px;
		padding: 0 5px;
	}

  .campanha-transgenicos .tema-card .tema-descricao {
    font-size: 14px;
  }

	.issuem-featured-article-thumb {
	    width: 33%;
	}

	.btn-share {
		width: 152px;
	}
	.facebook-share,
	.google-share,
	.twitter-share,
	.whatsapp-share {
		display: table-cell;
		width: 152px;
		height: 35px;
	}
	.facebook-share {
		background: url('../images/facebook-share-peq.png') no-repeat center;
	}
	.google-share {
		background: url('../images/google-share-peq.png') no-repeat center;
	}
	.twitter-share {
		background: url('../images/twitter-share-peq.png') no-repeat center;
	}
	.whatsapp-share {
		background: url('../images/whatsapp-share-peq.png') no-repeat center;
	}

	.footer-redes-sociais {
		margin-top: 67px;
	}
  .issuem_archive {
    margin: 0px;
    padding: 0px;
  }
}

@media only screen and (max-width : 480px) {
    header {
		height: 246px;
	}
	.menu-topo {
		height: 50px;
	}

	.cycle-slideshow li img {
	    height: 200px;
	    width: 480px;
	}
	.cycle-slideshow .bd {
		width: 450px
	}
	.cycle-slideshow .entry-meta {
		width: 30%;
	}
	.cycle-slideshow .entry-title {
		font-size: 12px;
	    width: 95%;
	}
	#noticias .post-title {
		width: 215px;
	}
	#noticias .entry-image {
		width: 200px;
		float: left
	}
	#noticias .post-title a h4 {
		font-size: 16px;
		font-weight: normal;
	}

	#prog-midias, #camp-blog {
	    padding: 10px;
	}
	.boletim-campanha h3 {
	    padding: 20px;
	}
	.btn-saibamais,
	.btn-enviar {
	    margin: 0 0 10px 60%;
	    width: 45%;
	}
	.parceria-banner {
		min-width: 195px;
		padding: 0 5px;
	}
  .tema-card #tema-box-01 {
    min-height: 230px;
  }
  .tema-card .tema-box-laranja,
  .tema-card .tema-box-verde {
    min-height: 160px;
  }

  .campanha-transgenicos .tema-card .tema-icone img {
    height: 120px;
    width: 120px;
  }
  .campanha-transgenicos .tema-card .tema-titulo {
    padding-top: 175px;
    font-size: 16px;
    max-width: 250px;
  }
  .campanha-transgenicos .tema-card .tema-descricao {
    font-size: 12px;
  }
	.issuem-featured-article-thumb {
	    width: 100%;
	}
	#pagina .pagina-compartilhamento {
		padding-bottom: 130px;
	}
	.btn-share {
		margin: 10px 15px;
		width: 180px;
	}
	.facebook-share,
	.google-share,
	.twitter-share,
	.whatsapp-share {
		display: table-cell;
		width: 180px;
		height: 35px;
	}
	.facebook-share {
		background: url('../images/facebook-share-peq.png') no-repeat center;
	}
	.google-share {
		background: url('../images/google-share-peq.png') no-repeat center;
	}
	.twitter-share {
		background: url('../images/twitter-share-peq.png') no-repeat center;
	}
	.whatsapp-share {
		background: url('../images/whatsapp-share-peq.png') no-repeat center;
	}

	.footer-redes-sociais {
		margin-top: 74px;
	}
}

@media only screen and (max-width : 414px) {
	header {
	    height: 232px;
	}
	.footer {
	    height: 285px;
	}
  .tema-card #tema-box-01 {
    min-height: 300px;
  }
  .tema-card .tema-box-laranja,
  .tema-card .tema-box-verde {
    min-height: 220px;
  }
  .campanha-transgenicos .tema-card .tema-icone img {
      height: 100px;
      width: 100px;
  }
}

@media only screen and (max-width : 375px) {
	header {
	    height: 224px;
	}
}

@media only screen and (max-width : 360px) {
	header {
	    height: 221px;
	}
	.wrap {
    	margin-bottom: 185px;
	}
	.cycle-slideshow li img {
	    height: 120px;
	    width: 360px;
	}
	.cycle-slideshow .bd {
		width: 330px
	}
	.cycle-slideshow .entry-meta {
    width: 40%;
	}
	.cycle-slideshow .entry-title {
		font-size: 10px;
		width: 90%;
	}
	#noticias .post-title {
		min-height: 120px;
		width: 100%;
	}
	#noticias .entry-image {
		display: none;
	}

	.parceria-banner {
		min-width: 270px;
		padding: 0;
	}
	#pagina .pagina-compartilhamento {
		padding-bottom: 220px;
	}
	.btn-share {
		margin: 5px 75px;
	}
	.footer-redes-sociais {
		margin-top: 59px;
	}
  .issuem_archive {
    margin: 0px 20%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.menu-topo {
	    margin-top: 9px;
	}
	.cycle-slideshow li img {
	    height: 100px;
	    width: 320px;
	}
	.cycle-slideshow .bd {
		width: 290px
	}
	#noticias .cat-title {
	    width: 40.3%;
	}
	.parceria-banner {
		min-width: 240px;
		padding: 0;
	}
	.btn-share {
		margin: 5px 60px;
  }
	.footer-redes-sociais {
		margin-top: 46px;
	}
 .tema-card #tema-box-01 {
    min-height: 370px;
  }
  #tema-box-01 .tema-titulo {
    padding: 100px 0 0 25px;
    width: 100%;
  }
  .tema-card .tema-box-laranja {
    min-height: 210px;
  }
  .tema-card .tema-box-verde {
    min-height: 250px;
  }
  .campanha-transgenicos .tema-card .tema-icone img {
    height: 90px;
    width: 90px;
  }
  .issuem_archive {
    margin: 0px 15%;
  }
}