@import url('bootstrap.css');
@import url('normalize.css');

/* Fontes */
@font-face {
	font-family: 'Droid Sans';
	src: url('../fonts/droidsans/droidsans-webfont.eot');
	src: url('../fonts/droidsans/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/droidsans/droidsans-webfont.woff') format('woff'),
	     url('../fonts/droidsans/droidsans-webfont.woff2') format('woff2'),
	     url('../fonts/droidsans/droidsans-webfont.ttf') format('truetype'),
	     url('../fonts/droidsans/droidsans-webfont.svg#droidsans') format('svg');
	font-weight: normal;
	font-style: normal;
}


html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	height: 100%;
	box-sizing: border-box;
}
*,
*:after,
*:before { 
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	font-family: 'Droid Sans', sans-serif;
	min-height: 100%;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after { 
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

a,
a:hover {
	text-decoration: none;
}

/* Header */
header {
	height: 381px;
	background: url(../images/back_header.jpg) no-repeat;
	background-size: cover;
}

/* Search icon by IcoMoon, made with http://icomoon.io/app/ */
.sb-search {
	position: relative;
	margin-top: 0;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
	z-index: 2;
}
.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 60px;
	margin: 0;
	z-index: 10;
	padding: 20px 65px 20px 20px;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}
.sb-search-input::-webkit-input-placeholder {
	color: #efb480;
}

.sb-search-input:-moz-placeholder {
	color: #efb480;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #efb480;
}
.sb-icon-search,
.sb-search-submit  {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-icon-search {
	color: #327c3b;
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	background: #d7d7d7;
	speak: none;
	-webkit-font-smoothing: antialiased;
	z-index: 90;
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
[data-icon]:before,
.sb-icon-search:before {
  font-family: 'FontAwesome'; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
}
/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 100%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #d6dbb5;
	color: #003e2d;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}

/* Logo */
.logo {
	margin: 142px 0;
}


/* Navegação */
.menu-topo {
	height: 80px;
	text-transform: uppercase;
	background: url(../images/back_menu.jpg);
}
.caret {
	display: none;
}

/* Customize the nav-justified links 
to be fill the entire space of the .navbar */
.nav-justified {
	align-items: center;
}
.navbar-nav > li > a,
.dropdown-menu > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: bold;
	color: #003e2d;
	max-width: 170px;
	text-align: center;
	white-space: normal;
	display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
	background-image: none;
	background-color: #a7b739;
}
.navbar-nav > li:last-child > a {
	border-bottom: 0;
}
.nav .open > a:focus,
.navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
	background-color: #a7b739;
}
.navbar-nav,
.navbar-nav > li,
.navbar-nav > li > a {
	min-height: 80px;
}
.navbar-nav > li > a {
	border-right: 2px solid #d6dbb5;
	border-left: 2px solid #fff;
}
.navbar-nav > li:first-child > a {
	border-left: 0;
}
.navbar-nav > li:last-child > a {
	border-right: 0;
}


/* Seções */
.aspta-content {

}
.wrap {
 	margin: 0 auto 280px;
	background: url('../images/back_content.jpg');
}

.destaques-slides {
	margin: 40px 0;
	z-index: 2;
}
.cycle-slideshow {
	height: 500px;
	width: 100%;
	overflow: hidden;
}
.cycle-slideshow .cycle-pager {
	position: absolute;
	top: 325px;
	right: 10px;
	font-size: 80px;
	color: #fff;
	z-index: 200;
}
.cycle-slideshow .cycle-pager .cycle-pager-active {
	color: #a7b739;
}
.cycle-slideshow li img:before {
  content: "";
  display: block;
}
.cycle-slideshow li img {
	display: block;
	height: auto;
	min-height: 400px;
	width: 100%;
	min-width: 1140px;
}
.cycle-slideshow .bd {
	position: absolute;
	top: 400px;
	padding: 10px 10px 10px 20px;
	height: 100px;
	width: 100%;
	background-color: #a7b739;
}
.cycle-slideshow .entry-meta {
	margin: 0;
	padding: 5px;
	text-align: center;
	background-color: #003e2d;
	width: 10%;
}
.cycle-slideshow .entry-meta a {
	font-weight: bold;
	color: #a7b739;
	text-decoration: none;
}
.cycle-slideshow .entry-title {
	margin-top: 10px;
}
.cycle-slideshow .entry-title a {
	font-weight: bold;
	color: #003e2d;
}
.cycle-slideshow .btn-saibamais {
	margin-top: -50px;
	float: right;
	width: 17%;
}
.cycle-slideshow .btn-saibamais a {
	font-weight: bold;
	color: #a7b739;
}
.cycle-slideshow .entry-summary {
	visibility: hidden;
}

#noticias .cat-title {
	background-color: #003e2d;
	width: 33.3%;
}
#noticias .cat-title h5 {
	margin: 0;
	padding: 5px;
	text-align: center;
}
#noticias .cat-title h5 a {
	font-weight: bold;
	color: #a7b739;
	text-decoration: none;
}
#noticias .entry-image {
	max-width: 100%;
	height: 258px;
	overflow: hidden;
}
#noticias .entry-image img:before {
  content: "";
  display: block;
}
#noticias .entry-image img {
	display: block;
	height: auto;
	min-height: 258px;
	width: 100%;
}
#noticias .post-title {
	padding: 10px 10px 15px 10px;
	text-align: justify;
	border-bottom: 5px solid #a7b739;
}
#noticias .post-title a {
	color: #003e2d;
	text-decoration: none;
}
#noticias .post-title a h4 {
	font-weight: bold;
}
.btn-noticias {
	margin: 15px 15px 30px 0;
	float: right;
	background-color: #003e2d;
}
.btn-noticias a,
.btn-noticias a:hover {
	padding: 10px;
	color: #a7b739;
	text-align: center;
}

#prog-midias {
	padding-bottom: 40px;
	background: rgba(153, 153, 153, 0.2);
}
.programas-locais {
	padding: 20px 0;
}
.programas-locais h3,
.revista h3 {
	margin: 20px 0;
	font-weight: bold;
	color: #e97200;
	text-transform: uppercase;
}
.programa {
	padding: 0 15px;
	border-top: 3px solid #286919;
}
.programa .prog-title,
.programa .prog-desc {
	font-weight: bold;
	color: #003e2d;
	text-transform: none;
}
.btn-saibamais,
.btn-enviar {
	margin: 0 0 10px 66.6%;
	background-color: #003e2d;
	width: 33.3%;
	text-align: center;
}
.programa a,
.programa a:hover {
	color: #a7b739;
}

.video-da-semana,
.revista {
	padding: 20px;
}
.video-da-semana h3 {
	margin: 20px 0;
	font-weight: bold;
	color: #e97200;
}
.video-da-semana .video {
	padding-left: 15px;
	border-top: 3px solid #e97200;	
}
.video-da-semana .video h4 {
	margin: 20px 0 40px;
	font-weight: bold;
	color: #003e2d;
}

#camp-blog {
	margin: 40px 0;
}
.boletim-campanha {
	background: url(../images/back-bol-camp.jpg) repeat;
}
.boletim-campanha h3 {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 3px solid #fff;
}
.boletim-campanha h4 {
	padding: 20px 10px;
	font-weight: bold;
	border-bottom: 2px solid #286919;	
}
.boletim-campanha h4 a {
	color: #003e2d;
	text-decoration: underline;	
}
.boletim-campanha h4 a:hover {
	color: #fff;
	text-decoration: none;
}
.boletim-campanha .sem-borda,
.blog-pratos-limpos .sem-borda {
	border: none;
}
.branco {
	color: #fff !important;
}
.boletim-campanha .assine {
	padding: 40px 0 0 0;
	text-align: center;
	text-decoration: none;
	border: none;
}
.boletim-campanha form {
	align-items: baseline;
}
.boletim-campanha input {
	float: left;
	height: 46px;
	width: 65%;
}
.boletim-campanha .btn-enviar,
.boletim-campanha .btn-enviar:hover {
	margin-top: -45px;
	color: #a7b739;
}

.blog-pratos-limpos h3,
.campanhas h3 {
	margin: 20px 0 0 20px;
	padding-bottom: 20px;
	font-weight: bold;
	color: #e97200;
	border-bottom: 3px solid #e97200;
}
.blog-pratos-limpos h4,
.blog-pratos-limpos h5,
.blog-pratos-limpos li {
	margin-left: 20px;
	padding: 15px 0;
	font-weight: bold;
	border-bottom: 2px solid #e97200;		
}
.blog-pratos-limpos h4 a,
.blog-pratos-limpos h5 a,
.blog-pratos-limpos li {
	color: #003e2d;
	list-style: none;
	text-decoration: underline;
}	
.blog-pratos-limpos h4 a:hover,
.blog-pratos-limpos h5 a:hover {
	color: #e97200;
	text-decoration: none;
}

.campanhas img {
	margin: 10px 0;
	padding: 10px 0 0 20px;
	width: 100%;
}


#redes-e-parcerias {
	margin-bottom: 40px;
	background-color: #fff;
}
.parcerias-title h3,
.parcerias h3 {
	padding: 30px;
	font-weight: bold;
	color: #e97200;
	border-right: 3px solid #e97200;
}
.parcerias h3 {
	border: none;
}
.parcerias .logo_partners {
	background-color: #fff;
	border-top: 2px solid #a7b739;
	border-bottom: 2px solid #a7b739;
}
.parcerias a img {
	margin: 30px auto;
}

/* Biblioteca */
.titulo-pagina h1 {
	margin: 20px 0;
	padding-bottom: 20px;
	font-weight: bold;
	color: #e97200;
	border-bottom: 3px solid #e97200;
}
#biblioteca .titulo,
#noticias .titulo {
	color: #003e2d;
	font-weight: bold;
}
#biblioteca .library-box h4 {
	margin: 0;
	padding: 25px 10px;
	color: #003e2d;
	font-weight: bold;
	background-color: #ccd77f;
	border-bottom: 5px solid #a7b739;
}
#biblioteca .opcoes {
	margin-bottom: 40px;
	padding: 30px;
	background-color: #ebebeb;
}
#biblioteca .duas-colunas {
	-moz-column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-count: 2;
	-webkit-column-gap: 40px;
	column-count: 2;
	column-gap: 40px;
}
#biblioteca .input-group-addon {
	text-align: left;
	background-color: none;
	border: none;
}
#biblioteca .input-group-addon input {
	margin-right: 10px;
	float: left;
}
#biblioteca .form-control {
	width: 60%;
}
#biblioteca .library-box .opcoes a,
#biblioteca .library-box .opcoes label {
	font-weight: bold;
	color: #a7b739;
	text-decoration: none;
}
#biblioteca .revista-agriculturas .opcoes label {
	width: 120px;
}
#biblioteca .revista-agriculturas .input-group-addon {
	height: 40px;
}
#biblioteca .btn {
	color: #a7b739;
}


#lista .lista-post {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e97200;	
}
#lista .lista-conteudo {
	color: #003e2d;
	font-weight: bold;
}
#lista .lista-categoria a,
#lista .lista-meta-time {
	color: #003e2d;
	font-size: 14px;
	min-height: 16px;
}
#lista .lista-titulo {
	min-height: 70px;	
}
#lista .lista-titulo h4 a {
	color: #003e2d;
	font-size: 18px;
	font-weight: bold;
}
#lista .lista-titulo h4 a:hover,
#lista .lista-resumo p a:hover  {
	color: #a7b739;
}
#lista .lista-resumo {
	color: #327c3b;
	font-size: 14px;
	font-weight: normal;
	min-height: 55px;
}
#lista .lista-resumo p a {
	color: #003e2d;
	font-weight: bold;
}
.paginacao {
	margin: 30px auto;
	font-size: 20px;
	font-weight: bold;
	width: 100%;	
}
.paginacao .page-numbers {
	padding: 5px 10px;
	color: #e97200;
	background-color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.paginacao .current {
	background-color: #003e2d;
}


#pagina {
	margin: 20px 0;
}
#pagina .pagina-conteudo {
	padding-bottom: 30px;
	border-bottom: 2px solid #003e2d;
}
#pagina .pagina-img {
	margin-bottom: 30px;
	height: 400px;
	overflow: hidden;
}
#pagina .pagina-data {
	min-height: 30px;
	border-bottom: 2px solid #003e2d;
	width: 100%;
}
#pagina .updated {
	color: #327c3b;
	font-size: 14px;
	font-weight: bold;
}
#pagina .pagina-categoria ul {
	padding: 0;
}

#pagina .pagina-categoria li {
	margin-top: 15px;
	list-style: none;
}
#pagina .pagina-categoria li a,
#pagina .pagina-categoria li a:hover,
#pagina .pagina-meta span,
#pagina .pagina-compartilhamento span {
	color: #003e2d;
	font-weight: bold;
	text-decoration: none;
}
#pagina .entry-content {
	margin-top: 15px;
	padding-bottom: 20px;
}
#pagina .entry-content p {
	margin-bottom: 20px;
	text-align: justify;
}
#pagina .entry-content p img {
	display: none;
}
#pagina .pagina-programa,
#pagina .pagina-tema,
#pagina .pagina-tags {
	margin-bottom: 10px;
}
#pagina .pagina-tags a {
	margin-left: 10px;
	color: #327c3b;
	font-weight: normal;
	text-decoration: underline;
}
#pagina .noticias-relacionadas h3 {
	margin: 20px 0 0 20px;
	padding-bottom: 20px;
	font-weight: bold;
	color: #e97200;
}
#pagina .noticias-relacionadas a {
	color: #003e2d;
	text-decoration: underline;	
}
#pagina .noticias-relacionadas a:hover {
	color: #e97200;
	text-decoration: none;
}
#pagina .pagina-compartilhamento {
	padding: 30px 0;
	border-bottom: 2px solid #003e2d;
}
#pagina .pagina-comentarios {
	margin: 30px 0;
}
#pagina .pagina-comentarios h3 {
	font-size: 14px;
	font-weight: bold;
}

.sidebar {
	margin-bottom: 40px;
}
.sidebar .revista {
	padding: 0 15px;
}
.sidebar .revista h3 {
	padding-bottom: 20px;
	margin-left: 20px;
	border-bottom: 3px solid #e97200;
}


/* Footer */
.footer {
	position: absolute;
	bottom: 0;
	color: #a7b739;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 370px;
	background: url(../images/back_footer.jpg);
	z-index: 3;
}
.footer a,
.footer a:hover {
	color: #a7b739;
}
.footer-logo {
	margin: 40px auto 20px;
	width: 80%;
}
.footer-descricao {
	text-align: justify;
}
.footer-menu {
	margin-top: 40px;
}
.footer-menu .menu-item {
    font-weight: bold;
    list-style: none;
    width: 200px;
}
.footer-menu .laranja {
	color: #e97200 !important;
}
.footer-redes-sociais {
	margin-top: 100px;
	height: 80px;
	background-color: #003e2d;
}
.footer-icones {
	margin: 0 auto;
	width: 137px;
}
.footer-icones ul {
	margin: 0;
    padding: 0;
    display: inline;
    list-style: none;
}
.footer-icones .icone:last-child {
    margin-right:0;
}
.footer-icones .icone {
	margin-top: 20px;
	margin-right: 30px;
	float: left;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

@media only screen and (max-width: 1000px) {
	header {
		height: 415px;
	}
	.menu-topo {
	    height: 55px;
	}
	/* Customize toggle navbar to 1000px screen */
	.navbar {
	    height: 50px;
	    z-index: 9999;
	}
	.navbar-justified .navbar-nav {
		position: relative;
	    margin: 7.5px -15px;
	    width: 170px;
	}
	.navbar-justified .collapse {
		display: none !important;
	}
	.navbar-justified .navbar-toggle {
	  display: block !important;
	}
	.navbar-justified .navbar-header{
	    float: none;
	}
	/* since 3.1.0 */
	.navbar-justified .navbar-collapse.collapse.in { 
	    display: block!important;
	}
	.navbar-justified .collapsing {
	    overflow: hidden!important;
	}
	.navbar-nav > li > a,
	.dropdown-menu > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 14px;
		background-color: #eee;
		min-width: 170px;
	}
	.navbar-justified {
		float: right;
		z-index: 9999;
	}
	.navbar-justified .navbar-toggle {
	    border-color: #003e2d;
	}
	.navbar-justified .navbar-toggle .icon-bar {
	    background-color: #003e2d;
	}

	.cycle-slideshow {
		height: 438px;
	}
	.cycle-slideshow .bd {
		top: 350px;
	}
	
	.post-title {
		min-height: 110px;
	}
	.btn-saibamais {
		width: 39%;
	}
}

@media only screen and (max-width : 981px) {
	header {
		height: 399px;
	}
	.menu-topo {
	    height: 55px;
	}
	.wrap {
		margin-bottom: 205px;
	}
	.cycle-slideshow {
		height: 350px;
	}
	.cycle-slideshow .bd {
		top: 270px;
	}
	.cycle-slideshow .entry-title {
		font-size: 16px;
	    width: 60%;
	}
	.noticia {
		margin-bottom: 20px;
	}
	.post-title {
		min-height: 80px;
	}
	.btn-saibamais {
		width: 36%;
	}
	.parcerias-title h3 {
	    border: none;
	    text-align: center;
	}
	.revista {
	    padding: 0;
	}
	.footer {
		height: 308px;
	}
	.footer-redes-sociais {
		margin-top: 80px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header {
		height: 220px;
	}
	.pesquisa-topo {
		height: 50px;
		width: 50px;
	}
	.pesquisa-topo span {
	    margin-top: 10px;
	}
	.logo {
	    margin: 50px 0;
	}
	
	.menu-topo {
	    height: 60px;
	}

	.wrap {
		margin-bottom: 300px;
	}
	.cycle-slideshow {
		height: 336px;
	}
	.cycle-slideshow .bd {
		top: 250px;
	}

	#noticias {
		padding-top: 40px;
	}
	.btn-noticias {
	    margin: 0 auto 40px;
	    float: none;
	    width: 190px;
	}
	
	#prog-midias,
	#camp-blog {
		padding-bottom: 40px;
	}
	.blog-pratos-limpos h3,
	.campanhas h3,
	.boletim-campanha h3 {
		margin-top: 20px;
	}
	.revista h3 {
		text-align: center;
	}

	#redes-e-parcerias {
		margin-bottom: -60px;
	}
	.parcerias-title h3 {
		border: none;
	}
	
	.footer {
		height: 300px;
	}
	.footer-redes-sociais {
		height: 70px;
	}
	.footer-redes-sociais {
		margin-top: 72px;
	}
}

@media only screen and (max-width : 640px) {
    header {
		height: 250px;
	}
	.wrap {
    	margin-bottom: 205px;
	}
.programas-locais,
	.video-da-semana {
		padding: 0;
	}
	.blog-pratos-limpos h3,
	.campanhas h3 {
		margin-left: 0;
	}
	.campanhas img {
		padding-left: 0;
	}
	#redes-e-parcerias {
		margin-bottom: 5px;
	}
	#pagina .pagina-img {
		height: 300px;
		width: 100%;
	}
	.footer-redes-sociais {
		margin-top: 67px;
	}
}

@media only screen and (max-width : 480px) {
    header {
		height: 246px;
	}
	.menu-topo {
		height: 50px;
	}
	
	#prog-midias, #camp-blog {
	    padding: 10px;
	}
	.boletim-campanha h3 {
	    padding: 20px;
	}
	
	.btn-saibamais,
	.btn-enviar {
	    margin: 0 0 10px 60%;
	    width: 45%;
	}
	.footer-redes-sociais {
		margin-top: 74px;
	}
}

@media only screen and (max-width : 414px) {
	header {
	    height: 232px;
	}
	.footer {
	    height: 285px;
	}
}

@media only screen and (max-width : 375px) {
	header {
	    height: 224px;
	}
}

@media only screen and (max-width : 360px) {
	header {
	    height: 221px;
	}
	.wrap {
    	margin-bottom: 185px;
	}
	.footer-redes-sociais {
		margin-top: 59px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.menu-topo {
	    margin-top: 9px;
	}
	.footer-redes-sociais {
		margin-top: 46px;
	}
}